meta {
}
title {
}
link {
}
script {
}
style {
}
.navbar {
}
.navbar.fixed-top{
}
.navbar.bg-dark{
}
.navbar.navbar-dark{
}
.navbar.navbar-expand-md{
}
.navbar .navbar-brand {
}
.navbar .navbar-toggler {
}
.navbar .navbar-toggler-icon {
}
.navbar img {
}
.navbar #navbarsExampleDefault {
}
.navbar #navbarsExampleDefault.navbar #navbarsExampleDefault.navbar .navbar-nav {
}
.navbar .navbar-nav.navbar .navbar-nav .nav-item {
        color: #0078ff;

}
.navbar .navbar-nav .nav-item.navbar .navbar-nav .nav-item {
}
.navbar .navbar-nav .nav-item.navbar .nav-link {
}
.navbar .sr-only {
}
.navbar #dropdown01 {
}
.navbar #dropdown01.navbar #dropdown01.navbar .dropdown-menu {
    background-color: cornflowerblue;
    color: aqua;
}
.navbar .dropdown-item {
}
.navbar .form-inline {
}
.navbar .form-inline.navbar .form-inline.navbar .form-control {
}
.navbar .form-control.navbar .btn {
}
.navbar .btn.navbar .btn.navbar .btn.container-fluid {
}
.container-fluid hr {
}
.container-fluid footer {
}
.container-fluid p {
}
div {
    background-color: cornflowerblue;
    color: aqua;
}
